*{
    margin:0;
    padding:0;
}
div{
    margin: 5px;
}
.day-background{
    height: 100vh;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

.night-background{
    height: 100vh;
    background: rgb(11,11,11);
    background: linear-gradient(0deg, rgba(11,11,11,1) 0%, rgba(26,21,41,1) 0%, rgba(55,66,106,1) 100%);
    font-family: sans-serif;
    color: white;
}

.location-section{
display: flex;
height: 40vh;
width: 50%;
justify-content: space-between;
align-items: center;
margin: 0 auto;

}

.temperature-section{
    margin-top: 80px;
    margin-bottom: 50px;
    height: 15vh;
    display: flex;
    justify-content: center;
}
.temperature:hover{
    cursor: pointer;
}

.temperature-section h2{
    font-size:40px;
}
.temperature-section span{
    margin:10px;
    font-size:30px;
}

.temperature-description{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.humidity_pressure{

    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hours-minutes{
    font-size: 40px;
}